.profile__avatar-edit {
  content: url(../../../images/update.svg);
  top: 50px;
  right: 0;
  bottom: 0;
  left: 50px;
  position: absolute;
  opacity: 0;
}
@media (max-width: 650px) {
  .profile__avatar-edit {
    margin: 0 auto;
  }
}
