.popup__submit {
  border: 0;
  padding: 0;
  min-height: 50px;
  width: 100%;
  background-color: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  max-width: 358px;
  margin-top: 48px;
}
.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width: 320px) {
  .popup__submit  {
    margin-top: 45px;
  }
}